@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #FCFCFC;
  color: #140031;
}

/*Base Styles  */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: normal;
}

p {
  font-size: 1.6rem;
  line-height: 1;
}

/* base style for navbar & title */
.main-head {
  width: 100%;
  margin: 0 0 0 auto;
}

.main-head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #3757DA;
}

.main-head .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-head .logo h1 {
  margin: 4rem;
  font-size: 3.2rem;
  color: #FCFCFC;
  font-weight: 700;
}

/*Business Info Section  */
.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 8rem;
}

.main-info .info-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-info h2 {
  margin-right: 8rem;
}

.main-info h2:last-of-type {
  margin-right: 6rem;
}

/*Titles for form Section  */
.title1 {
  border-bottom: 4px solid #3757DA;
  padding-bottom: 1rem;
  font-weight: bold;
}

.title2 {
  border-bottom: 4px solid #C4C4C4;
  padding-bottom: 1rem;
  color: #0000003b;
}

.title3 {
  border-bottom: 4px solid #C4C4C4;
  padding-bottom: 1rem;
  color: #0000003b;
}

.title4 {
  border-bottom: 4px solid #C4C4C4;
  padding-bottom: 1rem;
  color: #0000003b;
}

/*Form Section  */
.form-section {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 8rem;
  padding-bottom: 4rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input,
form textarea {
  border-radius: 24px;
  margin-bottom: 4rem;
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

form input:focus,
form textarea:focus {
  outline: 2px solid black;
}

form label {
  font-size: 2rem;
}

form input {
  width: 700px;
  height: 50px;
  padding: 2rem;
  border-color: black;
  text-align: center;
}

.form-btn {
  width: 100%;
  max-width: 200px;
  padding: 2rem;
  background-color: #3757DA;
  border-radius: 24px;
  border-color: transparent;
  color: white;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.form-btn:focus {
  background: #1f3aa7;
}

.form-btn:hover {
  background: #1f3aa7;
  cursor: pointer;
}

/*Form text under with checkbox Section  */
.details {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 2;
}

.details2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 2;
}

.box {
  border-radius: 8px;
  width: 3rem;
  height: 3rem;
}

/*Form Icons  */
.email-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.icon1 {
  max-width: 2rem;
  max-height: 2rem;
  position: absolute;
  position: absolute;
  left: 20px;
  top: 59px;
}

.icon2 {
  max-width: 2rem;
  max-height: 2rem;
  position: absolute;
  position: absolute;
  left: 20px;
  top: 59px;
}

/*Sidebar Section  */
.sidebar {
  margin-right: 0rem;
  margin-top: 10rem;
  position: relative;
}

.text-sidebar {
  font-weight: bold;
}

.text2-sidebar {
  margin-top: 4rem;
  line-height: 1.6;
}

/*Sidebar social icons Section  */
.social-container {
  padding: 0% 5%;
}

.social-container ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 4rem;
}

.social-icons1 {
  margin-right: 3rem;
  width: 2.4rem;
  height: 2.4rem;
}

.social-icons1,
.social-icons2 {
  margin-bottom: 8rem;
}

.social-icons2 {
  width: 2.4rem;
  height: 2.4rem;
}

.social-icons1:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

.social-icons2:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

/*Mobile versions Section  */
@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main-info {
    margin-top: 4rem;
    margin-left: 2rem;
  }
  .form-section {
    padding-left: 2rem;
    margin-top: 4rem;
  }
  input {
    max-width: 600px;
  }
  .title2 {
    display: none;
  }
  .title3 {
    display: none;
  }
  .title4 {
    display: none;
  }
  .social-container {
    display: none;
  }
}

@media only screen and (max-width: 620px) {
  input {
    max-width: 400rem;
  }
}

@media only screen and (max-width: 425px) {
  .main-info {
    margin-left: 1rem;
  }
  .sidebar {
    display: none;
  }
  .form-section {
    max-width: 40rem;
    padding-left: 1rem;
  }
  .form-btn {
    margin-left: 0rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  form input {
    max-width: 300px;
  }
  .details2 {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */